<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="${wbeParameter.name}">网站后台管理系统 </title>
    <link rel="icon" href="/resource/hospital.png"/>
    <link rel="stylesheet" href="/resource/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/resource/css/secondary.css" type="text/css"/>
    <script language="javascript" type="text/javascript" src="/resource/js/Kunyilibrary.js"></script>
</head>
<style>
    .office-content {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body>
<header class="header" th:replace="proscenium/public :: header"></header>
<nav th:replace="proscenium/public :: nav"></nav>
<section class="BaseMark">
    <div class="bread">您所在的位置<span><a href="/diplomaProject">首页</a>><a href="/allDoctorPage">专家介绍</a></span></div>
    <div class="baseLeft">
        <div class="tools">
            <a>
                <img src="/resource/images/ico_001.gif" width="52" height="52"><em>互联智慧分诊平台</em>
            </a>
            <a style="margin-right:0;">
                <img src="/resource/images/ico_002.gif" width="52" height="52"><em><span>96195</span> 综合平台</em>
            </a>
            <a>
                <img src="/resource/images/ico_003.gif" width="52" height="52"><em>名医馆</em>
            </a>
            <a style="margin-right:0;" href="/infoSearch" class="last">
                <img src="/resource/images/ico_004.gif" width="52" height="52"><em>信息查询</em>
            </a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="partRight">
        <div class="title01">专家介绍</div>
        <div class="Expert">
            <ul>
                <li th:each="doctor:${doctorList}">
                    <a>
                        <img th:src="${doctor.imgUrl}" class="load" width="120" height="162"></a>
                    <a th:text="${doctor.realName}">医生</a>
                    <h4 th:text="${doctor.title}">主任医师，科主任</h4>
                    <p th:text="${doctor.content}">医院标题呼吸内科科主任……</p>
                    <div>
                        <a class="coffee" th:href="${'/doctorDetailsPage?id='+doctor.id}">详细</a>
                        <a class="green" th:href="${'/appointmentReg?doctorId='+doctor.id}">预约</a>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<footer th:replace="proscenium/public :: footer"></footer>
<script language="javascript" type="text/javascript" src="/resource/js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="/resource/js/Kunyi.Secondary.js"></script>
</body>
</html>