<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<header th:fragment="header">

    <div class="topHidden"></div>
    <div class="toolBase" th:if="${is_loin}">

        <div class="BaseMark">
            <div class="language"><a href="/logout.do">注销</a></div>
            <div class="langBtn animated" style="height: auto"><span th:text="${user.realName}"></span>
                <a th:if="${is_general}" href="/userCenter"><img th:src="@{/resource/hospital.png}" class="animated"
                                                                 width="13"
                                                                 height="13"/>个人中心</a>
                <a th:if="${is_admin}" href="/diplomaProjectAdmin"><img th:src="@{/resource/hospital.png}" class="animated"
                                                                        width="13"
                                                                        height="13"/>后台系统</a>
            </div>
        </div>
    </div>
    <div class="toolBase" th:if="${!is_loin}">
        <div class="BaseMark">
            <div class="language"><a href="/">登录/注册</a></div>
        </div>
    </div>
    <div class="BaseMark logoBase"><a href="/diplomaProject"/><img th:src="@{/resource/images/logo.png}" class="load" width="290">
        <!--height="55"/></a>-->
        <!--<div class="searchBase">-->
        <!--<div class="itemBase">-->
        <!--<div class="divType" data-state="0">全站内容</div>-->
        <!--<ul>-->
        <!--<li data-id="1">全站内容</li>-->
        <!--<li data-id="2">医生查找</li>-->
        <!--<li data-id="3">新闻动态</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<form method="get" action="Search.html" onSubmit="return Kunyi.CheckSearchForm()">-->
        <!--<input type="hidden" id="Type" name="Type" value="1"/>-->
        <!--<input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off"-->
        <!--onFocus="Kunyi.cls(event)" onBlur="Kunyi.res(event)" maxlength="28" id="SearchWords"/>-->
        <!--<input type="submit" value="搜索" class="boxsub animated"/>-->
        <!--</form>-->
        <!--</div>-->
    </div>
</header>
<nav th:fragment="nav">


    <div class="navBase">
        <div class="quickMenuBase" data-type="0">
            <div class="quickMenu03"><img src="/resource/images/ico_013.png" width="16" height="16"/> <em>快捷菜单</em>
            </div>
            <div class="quickMenus">
                <ul class="firstUl">

                    <li class="first">
                        <a href="/appointmentReg" class="firstA">
                            <em>预约挂号</em><i class="style02"></i><span></span>
                        </a>
                    </li>
                    <li class="first"><a href="chuzhen.html" class="firstA"><em>出诊安排</em><i
                            class="style03"></i><span></span></a>
                        <div class="QMSub QMSubMenus">
                            <ul>
                                <li th:each="office,srt:${officeList}" th:if="${srt.index lt 6}">
                                    <a th:href="${'/officeVisitPage?officeId='+office.id}" th:title="${office.name}"
                                       th:text="${office.name}"><span>进入</span></a>
                                </li>
                            </ul>
                            <ul>
                                <li th:each="office,srt:${officeList}" th:if="${srt.index gt 5 && srt.index lt 12}">
                                    <a th:href="${'/officeVisitPage?officeId='+office.id}" th:title="${office.name}"
                                       th:text="${office.name}"><span>进入</span></a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="first"><a href="/allDoctorPage" class="firstA"><em>专家介绍</em><i
                            class="style04"></i><span></span></a>
                    </li>
                    <li class="first"><a class="firstA"><em>专科介绍</em><i
                            class="style05"></i><span></span></a>
                        <div class="QMSub QMSubMenus">
                            <ul>
                                <li th:each="office,srt:${officeList}" th:if="${srt.index lt 6}">
                                    <a th:href="${'/officeDetailsPage?id='+office.id}" th:title="${office.name}"
                                       th:text="${office.name}"><span>进入</span></a>
                                </li>
                            </ul>
                            <ul>
                                <li th:each="office,srt:${officeList}" th:if="${srt.index gt 5 && srt.index lt 12}">
                                    <a th:href="${'/officeDetailsPage?id='+office.id}" th:title="${office.name}"
                                       th:text="${office.name}"><span>进入</span></a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="first"><a href="Office-9.html" class="firstA"><em>医疗快讯</em><i
                            class="style06"></i><span></span></a>
                        <div class="QMSub QMSubMenus">
                            <ul>
                                <li><a href="/noticePage" title="最新公告">最新公告<span>进入</span></a></li>
                                <li><a href="/articlePage?type=省医快讯" title="省医快讯">省医快讯<span>进入</span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="first last"><a href="/opinionsPage" class="firstA"><em>在线留言</em><i
                            class="style07"></i><span></span></a></li>
                </ul>
            </div>
        </div>
        <div class="nav Snav">
            <ul>
                <li class="PMenu"><a href="/diplomaProject" class="PAMenu">首页</a></li>
                <li class="PMenu"><a href="/articlePage" class="PAMenu">新闻动态</a></li>
                <li class="PMenu"><a href="/officePage" class="PAMenu">专科介绍</a></li>
                <li class="PMenu"><a href="/allDoctorPage" class="PAMenu">专家介绍</a></li>
                <li class="PMenu"><a href="/visitPage" class="PAMenu">出诊安排</a></li>
                <li class="PMenu"><a href="/appointmentReg" class="PAMenu">预约挂号</a></li>
            </ul>
        </div>
    </div>
</nav>
<footer th:fragment="footer"><img src="/resource/images/ico_036.png" width="35" class="load" height="18" id="QRMark"/>
    <div class="menusBase">
        <div class="BaseMark">
            <dl>
                <dt><img src="/resource/images/ico_006.jpg" class="load" width="36" height="34"/><em>门诊服务</em><span>outpatient services</span>
                </dt>
                <dd><a title="预约流程" target="_blank">预约流程</a></dd>
                <dd><a title="门诊须知" target="_blank">门诊须知</a></dd>
                <dd><a title="院内导航" target="_blank">院内导航</a></dd>
            </dl>
            <dl>
                <dt><img src="/resource/images/ico_008.jpg" class="load" width="36" height="34"/><em>住院服务</em><span>hospitalized services</span>
                </dt>
                <dd><a title="住院须知" target="_blank">住院须知</a></dd>
                <dd><a title="检查须知" target="_blank">检查须知</a></dd>
                <dd><a title="住院清单" target="_blank">住院清单</a></dd>
            </dl>
            <dl>
                <dt><img src="/resource/images/ico_009.jpg" class="load" width="36" height="34"/><em>体检服务</em><span>examination services</span>
                </dt>
                <dd><a title="体检须知" target="_blank">体检须知</a></dd>
                <dd><a title="体检套餐查询" target="_blank">体检套餐查询</a></dd>
                <dd><a title="体检报告查询" target="_blank">体检报告查询</a></dd>
            </dl>
            <div class="clear"></div>
        </div>
    </div>

    <div class="BottomHidden"></div>
    <div class="websiteInfo">
        <div class="info">主办单位：医院标题 &nbsp; &nbsp;综合服务电话：120&nbsp;&nbsp; &nbsp;急救中心电话：120 &nbsp; 传真：120 &nbsp; 地 址：地址地址地址
            &nbsp;<br/> 版权所有：医院标题
        </div>
        <ul>
            <li class="first"><a href="jianjie.html" target="_blank">关于我们</a></li>
            <li><a href="Declaration.html" target="_blank">法律声明</a></li>
            <li><a href="SiteMap.html" target="_blank">网站地图</a></li>
            <li><a href="Article-57.html" target="_blank">联系我们</a></li>
            <li><a href="Complain.html" target="_blank">院长(信访)信箱</a></li>
        </ul>
        <div class="clear"></div>
        <p> &copy;2021-2025 . All Rights Reserved. <a>备案号0000001</a></p>
        <p style="margin: 25px auto 72px auto;"></p>
    </div>
</footer>
</body>
</html>
