<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="${wbeParameter.name}">网站后台管理系统 </title>
    <link rel="icon" href="/resource/hospital.png"/>
    <link rel="stylesheet" href="/resource/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/resource/css/secondary.css" type="text/css"/>
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css" media="all"/>
    <script language="javascript" type="text/javascript" src="/resource/js/Kunyilibrary.js"></script>
</head>
<style>

    .layui-table tr th {
        color: #6bcbca !important;
        font-family: 宋体;
    }
</style>
<body style="font-size: 12px">
<header class="header" th:replace="proscenium/public :: header"></header>
<nav th:replace="proscenium/public :: nav"></nav>
<section class="BaseMark">
    <div class="bread">您所在的位置<span><a href="/diplomaProject">首页</a>>
        <a></a> >个人中心</a></span>
    </div>
    <div class="baseLeft">
        <div class="partLeft">
            <div class="title partTitle"><a>挂号记录</a></div>
            <div class="newsMenu depmMenu">
                <ul>
                    <li class="first active"><a href="/userCenter"><em>挂号记录</em></a></li>
                    <li><a href="/userSet"><em>个人信息</em></a></li>
                    <li><a href="/safety"><em>安全设置</em></a></li>
                    <li><a href="/messagePage"><em>消息中心</em></a></li>
                </ul>
            </div>
        </div>
        <div class="tools">
            <a>
                <img src="/resource/images/ico_001.gif" width="52" height="52"><em>互联智慧分诊平台</em>
            </a>
            <a style="margin-right:0;">
                <img src="/resource/images/ico_002.gif" width="52" height="52"><em><span>96195</span> 综合平台</em>
            </a>
            <a>
                <img src="/resource/images/ico_003.gif" width="52" height="52"><em>名医馆</em>
            </a>
            <a style="margin-right:0;" href="/infoSearch" class="last">
                <img src="/resource/images/ico_004.gif" width="52" height="52"><em>信息查询</em>
            </a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="partRight">
        <div class="title01">挂号记录</div>
        <div class="Expert">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>预约医生</th>
                    <th>就诊时间</th>
                    <th>预约时间</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="registration:${registrationList}">
                    <td th:text="${registration.doctorName}"></td>
                    <td th:text="${registration.day+'/'+registration.week+'/'+registration.type}"></td>
                    <td th:text="${#strings.substring(registration.time,0,19)}"></td>
                    <td>
                        <span th:if="${registration.state eq '0'}" style="color: #FF5722">未就诊</span>
                        <span th:if="${registration.state eq '1'}" style="color: #5FB878">已就诊</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<footer th:replace="proscenium/public :: footer"></footer>
<script language="javascript" type="text/javascript" src="/resource/js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="/resource/js/Kunyi.Secondary.js"></script>
</body>
</html>